<!DOCTYPE html>
<html>
<head>
  <title>Warehouse Panel</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Warehouse Panel</h1>
  <ul id="package-list">
    <% packages.forEach(pkg => { %>
      <li id="<%= pkg.id %>">
        <strong><%= pkg.id %></strong> - <%= pkg.name %> - <%= pkg.status %>
      </li>
    <% }) %>
  </ul>

  <script>
    const socket = io();
    socket.on('packageScanned', pkg => {
      const el = document.getElementById(pkg.id);
      if (el) {
        el.innerText = `${pkg.id} - ${pkg.name} - ${pkg.status}`;
      } else {
        const li = document.createElement('li');
        li.id = pkg.id;
        li.innerText = `${pkg.id} - ${pkg.name} - ${pkg.status}`;
        document.getElementById('package-list').appendChild(li);
      }
    });
  </script>
</body>
</html>
